body {
    margin: 0;
    padding: 0auto;
    height: 100vh;
    text-align: center;
    background-image: url(Picture/Japan.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
    background-color: #8fcdec;
}

h1{
    font-size: 35px;
    font-family: UD デジタル 教科書体 NK-R;
}

p{
    font-size: 20px;
    font-family: UD デジタル 教科書体 NK-R;
}

#button-a{
      background: #ccff00;
      color:#000000;
      border-bottom: solid 6.5px #99cc00;
}

#button-b{
    background: #ccff00;
    color:#000000;
    border-bottom: solid 6.5px #99cc00;
}

#button-c{
    background: #ccff00;
    color:#000000;
    border-bottom: solid 6.5px #99cc00;
}

section {
    display: flex;
    flex-direction: column;
}

#ans-btn {
    display: flex;
    justify-content: center;
}

#ans-btn button {
    width: 200px;
    height: 80px;
    font-size: 25px;
    margin: 20px;
    font-family: UD デジタル 教科書体 NK-R;
}